* { padding: 0; margin: 0; }

.main {
  min-width: 1000px;
  height: auto;
}
.outer-wrapper {
  display: flex;
  margin: 50px auto 0;
  width: 1000px;
  font-family: 'Wendy One', sans-serif;

}
canvas {
  background-image: linear-gradient(#C4E0E5, #4CA1AF);
  display: block;

}
.canvas-wrapper {
  width: 500px;
  height: 650px;
  border-radius: 5px;
  border: 3px solid #6C5B7B;
  margin-right: 25px;
}

.content-wrapper {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 55px;
  color: #3db0c3 ;
  text-shadow: 2px 2px #FF5F6D;
}

.instruction {
  width: 90%;
  margin: 10px auto;
}

.instruction h2{
  font-weight: 400;
  margin: 10px auto;
  font-size: 30px;
}
.instruction ul {
  margin-left: 25px;
  font-size: 20px;
}
.instruction ul li {
  line-height: 30px;

}
.blue {
  color: #1897c7;
}
.red {
  color: #ec4a52;
}
.instruction ul li img{
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}
.paddles {
  margin-left: 15px;
}
.logos {
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
a:hover {
  -webkit-text-stroke: 1.5px #1897c7;
  color: white;
  /* text-shadow: 2px 2px black; */
}

i {
  margin-right: 10px;
  position: relative;
}

#tryagain {
  width: 90px;
  height: 30px;
  position: relative;
  top: 8px;
}

#next {
  width: 70px;
  height: 35px;
  position: relative;
  top: 10px;
}
