html, body, header, nav, h1, a, ul, li, strong, main, button, i, section, img, div, h2, p, form,
fieldset, label, input, textarea, span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,li,
input[type="submit"] {
  cursor: pointer;
}

/* Colors
Texts and Icons:
Dark Grey: #2F2F2F
White: #FFFFFF
Grey: #666666
Light Grey: #CCCCCC

WebPage:
Blue: #A1C3D1
Purple: #B39BC8
Very Light Purple: #F0EBF4
Yellow: #FBE8A6
Pink: #F172A1
Lighter Pink: #E64398

Font and Sizes 
Font: Open Sans
Weight: 400
Line Height: 1.5
Sizes: 
Heading:  20px
Title: 18px
Subtitle: 16 px
Body: 14px */
