.search_form {
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background-color: #F0EBF4;
    padding: 100px 200px;
}

.what, .where{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 100px;
    justify-content: center;
}

.inputs {
    width: 500px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #B39BC8;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
} 

.inputs h2 {
    margin-right: 12px;
    color: #B39BC8;
    font-size: 16px;
    font-weight: bold;
}

.inputs input {
    width: 100%;
    color: #A1C3D1;
    font-size: 14px;
    font-weight: bold;
}

.inputs input::placeholder {
    color: #F0EBF4;
    font-size: 14px;
    font-weight: bold;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    padding: 5px 15px;
    padding-right: 0px;
    color: #B39BC8;
    font-size: 18px;
    font-weight: bold;
}

.checked {
    color: rgb(155, 200, 168);
    font-size: 18px;
    font-weight: bolder;
}

.slidecontainer {
    width: 100px; 
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 14px;
    background: #A1C3D1;
    opacity: 0.7;
    margin: 5px 15px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 18px;
    background: #B39BC8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 18px;
    background: #B39BC8;
    cursor: pointer;
}

.search_form img{
    width: 40px;
}

.search_form input[type="submit"] {
  padding: 5px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-image: "../images/loupe.png";
  border: 2px solid #B39BC8;
}